body {
  font-family: Arial;
  text-align: center;
  margin-top: 50px;
  cursor: default;
  color: rgb(94, 162, 201);
  font-weight: bold;
  background-color: rgb(27, 32, 36);
  background-size: cover;
}

button {
  font-size: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  cursor: pointer;
  color: rgb(94, 162, 201);
}

.move-icon {
  height: 50px;
}
.move-button {
  background-color: transparent;
  border: 5px solid rgb(255,255,255);
  width: 100px; 
  height: 100px;
  border-radius: 50%;
}

#result {
  font-size: 24px;
  font-weight: bold;
  cursor: default;
  color: rgb(94, 162, 201);
}